@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

#StatusBar {
  min-width: 0;

  h4, h5 {
    margin: 0;
  }

  h4 {
    text-transform: uppercase;
  }

  h5 {
    font-weight: 600;
    font-size: 12px;
  }

  &, .Status {
    display: flex;
    flex-direction: row;

    height: 100%;
  }

  & {
    column-gap: 2px;
  }

  .Status {
    align-items: center;
    column-gap: 8px;

    padding-left: 4px;
    padding-right: 4px;
  }

  p {
    padding: 0;
  }

  #CpuBars, p {
    margin: 0;
  }

  section {
    font-size: 12px;
  }
}

#CpuSection {
  #CpuBars {
    display: flex;
    align-items: flex-end;
    column-gap: 1px;

    height: 60%;

    padding: 4px;
  }

  .CpuBar {
    background-color: #8e8e8e;
    width: 4px;

    transition-property: height;
    transition-duration: 1s;
  }

  .CpuBar-fatal {
    background-color: red;
  }

  .CpuBar-alert {
    background-color: orange;
  }

  .CpuBar-warning {
    background-color: yellow;
  }
}

#NetworkInterfaceSection {
  & > div, section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
  }

  .Select {
    padding-bottom: 4px;

    .SelectField {
      min-width: 100px;
    }

    .SelectOption {
      padding-right: 0px;
      min-width: 30px;
    }

    .react-customscroll-holder {
      overflow-y: unset !important;
    }

    .input-select-button {
      height: calc(20px - 8px) !important;
    }

    .input-select-mask {
      display: none;
    }
  }
}

#HelpSection {
  flex-grow: 1;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@include themify('Status', $themes) {
  font-family: themed('font-family');
  background-color: themed('item-background');
  text-rendering: optimizeLegibility;
}
