@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

#FilterPanel {
  .SelectButton {
    display: flex;
    justify-content: space-evenly;

    .Addon {
      max-height: 10px;
      margin-left: 10px;
    }
  }

  #FilterTags .icon-close {
    width: 6px;
    height: 6px;
    margin-left: 6px;
  }

  a {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
  }

  @include themify('link', $themes) {
    color: themed('status-danger');
    font-family: themed('font-family');
  }
}
