@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

.Menu {
  position: relative;

  .SelectButton {
    min-width: 100px !important;
    height: 24px;

    padding: 2px;
    padding-right: 4px !important;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    * {
      letter-spacing: 0;
    }
  }

  & > .Wrapper {
    width: 100% !important;
  }

  .Wrapper:focus {
    outline: none;
  }

  .Menu:hover {
    .SelectButton {
      color: #ebebeb;
      background-color: #454545;
    }
  }
}

@include themify('Menu', $themes) {
  .SelectButton {
    border-bottom: 2px solid themed('panel-icon-active');
  }
}
