.OrderPanel {
  display: flex;
  flex-direction: column;
}

.OrderPanelButtons {
  display: flex;
  column-gap: 8px;

  .Button-square {
    height: 36px;
    width: 36px;
    border-radius: 4px;
  }
}

.OrderPanelTitle {
  font-family: "Inter";
  margin: 0;
}
