@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

.Lock {
  svg {
    width: 24px !important;
  }
}

.Lock, .ConnectionLock {
  .icon-lock {
    display: contents;
  }
}

@include themify('Lock', $themes) {
  .icon-lock {
    color: themed('status-busy');
  }
}

@include themify('ConnectionLock', $themes) {
  .icon-lock {
    color: #fff;
  }
}
