@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

@import './DrawerOverflowMixin.scss';
@import './DrawerGridLayoutMixin.scss';

#PropertyInspectorDrawer {
  @include DrawerOverflow;
  @include DrawerGridLayout;

  .Tooltip .content {
    font-size: 10px;
    top: 24px;
    width: 200px;
  }

  // These fixes improve the behaviour of the collapsible menu panels
  // TODO: Integrate these changes in ui-components and avoid regressions
  .GroupChildren {
    overflow: visible !important;
    max-height: unset;
  }

  .DisabledTooltipIcon {
    width: 32px;
    margin-right: 8px;
  }

  main {
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .menu-group-title {
    font-size: 18px;
  }

  .menu-group-children-collapsed {
    display: none;
  }

  .menu-group-addon * {
    font-size: 18px;
  }

  .QuiddityHeader .Lock {
    display: flex;

    svg {
      height: 18px;
    }
  }

  .NicknameInput .input-text-field {
    font-size: 24px;
  }

  .QuiddityDescription {
    font-size: 12px;
  }

  .menu-group {
    background-color: unset;
  }

  .QuiddityStatus {
    text-transform: capitalize;
  }

  .Field, .Tooltip .content {
    text-transform: none;
  }

  .DeleteQuiddityButton {
    column-gap: 4px;
  }

  @include themify('Drawer', $themes) {
    .DisabledTooltipIcon * {
      color: themed('status-busy');
    }
  }
}
