@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

@import './DrawerOverflowMixin.scss';
@import './DrawerGridLayoutMixin.scss';

#SipContactDrawer {
  @include DrawerOverflow;
  @include DrawerGridLayout;

  header {
    font-size: unset !important;

    .RowEntry {
      width: inherit !important;

      .EntryTitle {
        font-size: 18px;
      }
    }
  }

  .SessionPartner, .SessionContact {
    .RowEntry, .EntryHeader {
      width: auto;
    }

    .EntryHeader {
      line-height: 18px;
    }
  }

  h3 {
    border-bottom: 1px solid #979797;
    margin-bottom: 10px;
    line-height: 50px;
    font-weight: 500;
    color: #EBEBEB;
    font-size: 14px;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px;

    button {
      width: fit-content;
      padding: 0 0.5rem;
    }
  }

  h3 {
    display: flex;
    justify-content: space-between;
  }

  .SessionPartner, .SessionContact {
    display: grid;
    grid-template-columns: auto 50px;
    column-gap: 3px;
  }

  @include themify('RowEntry', $themes) {
    background-color: themed('item-background');

    &:hover {
      background-color: themed('item-background-hovered');
    }
  }
}
