@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

.ShmdataInformationTooltip {
  .content {
    z-index: 10 !important;
    padding: 8px !important;
    width: 300px;
  }

  .capability {
    flex: 1 1 150px;
  }

  dl {
    margin: 0px;
    line-height: 16px;
  }

  dt {
    font-weight: bold;
  }

  dt::after {
    content: ":";
  }

  dd {
    margin: 0px;
    padding-left: 0.5em;
  }

  .Capabilities, .CapabilityGroup {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .Capabilities {
    row-gap: 4px;
  }

  .CapabilityGroup dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .CapabilityGroupTitle {
    margin: 0;

    text-transform: capitalize;
    text-decoration: underline;
  }
}

@include themify('tooltip-shmdata', $themes) {
  font-family: themed('font-family');
  font-size: 10px;
}
