@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

.ConnectableBox, .ArmedBox, .ConnectedBox {
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.DisabledBox, .LockedBox {
  cursor: not-allowed;
}

.LockedBox:not(.ConnectedBox) {
  opacity: .6;
}

@include themify('ConnectionBox', $themes) {
  .ConnectableBox, .ArmedBox {
    background-color: themed('panel-background');

    &:hover {
      background-color: themed('panel-background-selected');
    }
  }

  .LockedBox {
    background-color: themed('panel-background');
  }

  .ConnectedBox {
    background-color: themed('status-active');
  }

  .EndangeredBox {
    background-color: themed('status-danger') !important;
  }
}
