@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

$shape-top-x: -18px;
$shape-top-y: 42px;
$shape-top-rotation: -46deg;

.ColumnSeparator {
  font-size: 12px;

  position: relative;
  display: flex;
  flex-direction: column;

  width: 58px;
  height: 100%;

  .SeparatorTop {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;

    width: 140px;
    height: 50px;

    transform:
      translateX($shape-top-x)
      translateY($shape-top-y)
      rotateZ($shape-top-rotation);
  }

  .SeparatorTopLine {
    width: 30px;
    border-top-width: 4px;
    border-top-style: solid;
  }

  .SeparatorHeader {
    margin-left: 8px;
    text-transform: uppercase;

    text-rendering: optimizeLegibility;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;

  }

  .SeparatorBottom {
    display: flex;
    justify-content: center;

    height: 100%;
  }

  .SeparatorBottomLine {
    height: 100%;
    border-left-width: 4px;
    border-left-style: solid;
    transform: translateY(100px);
  }
}

@include themify('ColumnSeparator', $themes) {
  font-family: themed('font-family');

  .SeparatorLabel {
    font-family: themed('font-family');
    color: themed('item-text');
  }

  .SeparatorTopLine {
    border-top-color: themed('panel-text');
  }

  .SeparatorBottomLine {
    border-left-color: themed('panel-text');
  }
}

.SeparatorIcon {
  svg {
    width: 16px !important;
  }
}

@include themify('SeparatorIcon', $themes) {
  .icon-lock {
    color: themed('status-busy');
  }
}
