@import '@ui-components/assets/themes/themify.utils.scss';
@import '~/src/themes.scss';

#PageMenu {
  img {
    margin: 30px;
    width: calc(100% - 60px);
  }

  button {
    font-size: 12px;
    width: calc(100% - 4px - 10px);
    text-transform: uppercase;
    justify-content: flex-start;
    padding-left: 10px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

@include themify('PageMenu', $themes) {
  background-color: themed('background');
  border-right: solid 3px themed('status-focus');

  .ActivePage {
    button, button:hover {
      color: themed('text-disabled');
      background-color: themed('status-focus');
      border-color: themed('status-focus');
    }
  }
}
